:root {
	--blanco: #fff;
	--ahover: red;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* DESKTOP FIRST */

body {
	background-color: red;
}

.contenedor {
	width: 1200px;
}

@media screen and (max-width: 1200px) {
	body {
		background-color: lightgreen;
	}
}

@media screen and (max-width: 768px) {
	body {
		background-color: rgb(30, 173, 30);
	}
}

/*  */
/*  */
/*  */
/*  */

header,
footer {
	border: 2px solid red;
}

nav {
	justify-content: space-around;
}

/* ///////////////////////////// */
/* ///   CLASES FIJAS ANCHOS /// */
/* ///////////////////////////// */

.flex {
	display: flex;
}

.columna {
	flex-direction: column;
}
.ancho {
	max-width: 1280px;
	width: 80%;
	min-width: 800px;
}

/* ============================= */
/* === Header and Nav Usuario ===*/

header > div {
	margin: 20px auto;
	justify-content: space-between;
	align-items: center;
}

#navLogin {
	width: 50%;
	justify-content: flex-end;
	gap: 20px;
}

/* ============================= */
/* ========  Navegacion ======== */

#navMenu {
	margin: 0 auto;
	justify-content: flex-start;
	border-top: 1px solid lightgray;
	padding: 20px 0;
	font-size: 20px;
}

#navMenu a {
	padding: 0 20px;
	text-decoration: none;
	border-top: 2px solid transparent;
}

#navMenu a:hover {
	border-top: 2px solid var(--ahover);
	transition: 3s;
}
/* ///////////////////////////// */
/* ///  NOSOTROS             /// */
/* ///////////////////////////// */

.nosotros {
	display: block;
	margin: 0 auto;
}

.box {
	margin: 20px 0px;
	padding: 20px 20px;
	border: 2px solid green;
}

#formularioPaseador {
	/* display: none; */
	display: block;
}

#formularioRegistroUsuario {
	/* display: none; */
	display: block;
}

#loginUsuario {
	/* display: none; */
	display: block;
}
