:root {
	--blanco: #fff;
	--ahover: red;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* DESKTOP FIRST */

body {
	background-color: rgb(253, 253, 253);
}

.contenedor {
	width: 1200px;
}

@media screen and (max-width: 1200px) {
	body {
		background-color: rgb(223, 221, 221);
	}
}

@media screen and (max-width: 768px) {
	body {
		background-color: rgb(202, 202, 202);
	}
}

header,
footer {
	border: 2px solid red;
}

nav {
	justify-content: space-around;
}

h4 {
	font-size: 20px;
	font-weight: 700;
}

/* ///////////////////////////// */
/* ///   CLASES FIJAS ANCHOS /// */
/* ///////////////////////////// */

.flex {
	display: flex;
}

.columna {
	flex-direction: column;
}
.ancho {
	max-width: 1280px;
	width: 80%;
	min-width: 800px;
}

/* ============================= */
/* === Header and Nav Usuario ===*/

header > div {
	margin: 20px auto;
	justify-content: space-between;
	align-items: center;
}

#navLogin {
	width: 50%;
	justify-content: flex-end;
	gap: 20px;
}

/* ============================= */
/* ========  Navegacion ======== */

#navMenu {
	margin: 0 auto;
	justify-content: flex-start;
	border-top: 1px solid lightgray;
	padding: 20px 0;
	font-size: 20px;
}

#navMenu a {
	padding: 0 20px;
	text-decoration: none;
	border-top: 2px solid transparent;
}

#navMenu a:hover {
	border-top: 2px solid var(--ahover);
	transition: 3s;
}
/* ///////////////////////////// */
/* ///  NOSOTROS             /// */
/* ///////////////////////////// */

.nosotros {
	display: block;
	margin: 0 auto;
}

.box {
	margin: 0 auto;
	padding: 20px;
	justify-content: space-between;
}

.mainbar {
	border: 2px solid rgb(21, 139, 41);
	width: 80%;
}

.sidebar {
	margin: 0 20px;
	border: 2px solid orange;
	width: 200px;
}

.tablaEstadoPaseador {
	margin: 0 auto;
	margin-bottom: 20px;
	border: none;
	border-collapse: collapse;
	box-shadow: none;
}

.tablaEstadoPaseador th,
.tablaEstadoPaseador td {
	border: none;
	background: none;
	text-align: center;
}

.tablaEstadolistaPerros {
	width: 100%;
	text-align: center;
	border: none;
	border-collapse: collapse;
	box-shadow: none;
}
.tablaEstadolistaPerros caption {
	margin-bottom: 10px;
	font-size: 20px;
}

.tablaEstadolistaPerros th,
.tablaEstadolistaPerros td {
	width: 50%;
	border: 2px solid black;
	background: none;
	text-align: center;
}

.cupoPrincipal {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgb(165, 40, 40);
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color: white;
}

.tablaContratacionesPendientes {
	width: 100%;
	text-align: center;
	border: none;
	border-collapse: collapse;
	box-shadow: none;
}

.tablaContratacionesPendientes caption {
}
